html, body {
    height: 100%;
    margin: 0;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 70vh;
}

.wrapper {
    max-width: 50%;
    font-family: 'Open Sans', sans-serif;
}

.hey {
    display: flex;
    justify-content: center;
    margin: auto;
    
}

.blurb {
    font-size: 1.2em;
    margin-top: 2em;
    margin-bottom: 2em;
}

.button {
    background-color: #e0e0e0;
    padding: 0.25em;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    opacity: 0.6;
    transition: 0.3s;
    text-decoration: none;

}

.button:hover {
    opacity: 1;
}

.arrow {
    margin-right: 0.5em;
    margin-top: auto;
    margin-bottom: auto;
    opacity: 0.5;
}

.text {
    color: #636363;
    text-decoration: none;
}

@media only screen and (max-width: 600px){
    .hey {
        width: 90%;
        height: 90%;
    }
    .wrapper {
        max-width: 80%;
        margin: 3em 0;

    }

    .blurb {
        font-size: 1em;
    }
}