body {
    /*    background-color: #fff0f6;*/
    margin: 0;
    padding: 0 4em;
}

.fullbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /*    background-color: #ffebf9;*/
    padding: 1.5em 0;
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    list-style-type: none;
    /*    margin-right: 2em;*/
}

.menuitem {
    color: #000000;
    text-decoration: none;
    font-size: 1.5em;
    font-family: 'Josefin Sans', sans-serif;
    /*    margin: 0.5em;*/
    padding-bottom: 0.2em;
    margin-left: 1.5em;
    position: relative;
}

.menuitem::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #000;
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out 0s;
}

.menuitem:hover::before {
    visibility: visible;
    transform: scaleX(1);
}

.logo {
    display: inline-block;
}

.navbar-toggle {
    display: none;
}

.active {
    color: red;
}

@media only screen and (max-width:766px) {
    body {
        /*    background-color: #fff0f6;*/
        margin: 0;
        padding: 0 2em;
    }
    .navbar {
        flex-direction: row;
        margin-top: 1em;
        padding: 1em;
    }
    .fullbar {
        flex-direction: column;
        align-items: center;
        margin: 0 auto;
        border-bottom: 1px solid black;
        padding: 0;
    }
    .menuitem {
        display: flex;
        align-items: center;
        width: 100%;
        margin: 0 .5em;
        font-size: 20px;

    }
    .logo {
        margin: 1.4em auto -1em;
    }
}