
iframe {
    border-radius: 20px;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 245px;
  height: 400px;

}

@media only screen and (max-width: 600px) {
  .swiper-slide {
    background-position: center;
    background-size: cover;
    width: 196px;
    height: 320px;
  
  }
  .swiper-container {
    padding: 0;
    padding-top: 25px;
    
  }
}