.resumefurther {
    width: 100%;
    border-radius: 20px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);

}

iframe {
    border-radius: 20px;
}
/*
  1. Base
*/
/*
  2. Components
*/

.swiper-container-3d .swiper-slide-shadow-left {
    border-radius: 20px;
}

.swiper-container-3d .swiper-slide-shadow-right {
    border-radius: 20px;
}


.swiper-container-3d .swiper-slide-shadow-active {
    border-radius: 20px;
}

.swiper-container {
  width: 100%;
  padding-bottom: 50px;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 245px;
  height: 400px;

}

.videos {
  padding-top: 20px;
}

.swiper-container-3d .swiper-slide-shadow-left {
  border-radius: 20px;
}

.swiper-container-3d .swiper-slide-shadow-right {
  border-radius: 20px;
}