div.player {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  max-width: 750px;
  background-color: #ededed;
  border-radius: 20px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
}

div.player img.album-art {
  width: 245px;
  height: 245px;
  border-radius: 20px;
}

/*
  Small only
*/



/*
  Medium only
*/

/*
  Large Only
*/

div.meta-container {
  /*
    float: left;
    width: calc(100% - 270px);
*/
  width: 100%;
  /*    padding: 10px;*/
}

div.meta-container div.song-title {
  text-align: center;
  color: #263238;
  font-size: 20px;
  font-weight: 600;
  font-family: "Open Sans", sans-serif;
  margin-top: 10px;
  margin-bottom: 5px;
}

div.meta-container div.song-artist {
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  color: #263238;
  margin-bottom: 10px;
}

div.meta-container div.time-container {
  opacity: 0.5;
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  font-size: 10px;
  height: 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 12px;
  color: #000;
  margin: 5px;
}

/*
  Medium only
*/

/*
  Large Only
*/

div.control-container {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 20px;
}

div.control-container div.amplitude-play-pause {
  width: 25px;
  height: 27.5px;
  cursor: pointer;
  display: inline-block;
  vertical-align: middle;
}

div.control-container div.amplitude-play-pause.amplitude-paused {
  background: url("https://521dimensions.com/img/open-source/amplitudejs/examples/multiple-songs/play.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

div.control-container div.amplitude-play-pause.amplitude-playing {
  background: url("https://521dimensions.com/img/open-source/amplitudejs/examples/multiple-songs/pause.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

progress.amplitude-song-played-progress:not([value]) {
  background-color: #313252;
}

progress.amplitude-song-played-progress {
  background-color: #d7dee3;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 100%;
  height: 5px;
  display: block;
  cursor: pointer;
  border-radius: 3px;
  border: none;
}

progress[value]::-webkit-progress-bar {
  background-color: #d7dee3;
  border-radius: 3px;
}

progress[value]::-moz-progress-bar {
  background-color: #00a0ff;
  border-radius: 3px;
}

progress[value]::-webkit-progress-value {
  background-color: #00a0ff;
  border-radius: 3px;
}


body {
  background-color: #FFFFFF;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body div#preload {
  display: none;
}

@media screen and (max-width: 600px) {
  div.player img.album-art {
    height: 196px;
    width: 196px;
  }
  div.meta-container div.song-title {
    font-size: 15px;
    margin-top: 10px;
    margin-bottom: 0px;
  }
  div.meta-container div.song-artist {
    font-size: 13px;
    margin-bottom: 10px;
  }

  div.meta-container div.time-container {
    font-size: 11px;
    margin: 4px;
  }
  div.control-container {
    text-align: center;
    margin-top: 5px;
    margin-bottom: 12px;
  }
  
  div.control-container div.amplitude-play-pause {
    width: 20px;
    height: 22px;
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
  }
}